/OS_Expts/MultiThreading/nbproject/private/
/OS_Expts/MultiThreading/build/
/OS_Expts/MultiThreading/dist/
/OS_Expts/ThreadClass/nbproject/private/
/OS_Expts/ThreadClass/dist/
/OS_Expts/ThreadClass/build/
/OS_Expts/NPSJF/nbproject/private/
/OS_Expts/NPSJF/build/
/OS_Expts/NPSJF/dist/
/OS_Expts/BankersAlgorithm/nbproject/private/
/OS_Expts/BankersAlgorithm/build/
/OS_Expts/BankersAlgorithm/dist/
/OS_Expts/DiskScheduling_FIFO/nbproject/private/
/OS_Expts/DiskScheduling_FCFS/build/
/OS_Expts/DiskScheduling_FCFS/dist/
/OS_Expts/DiskScheduling_SSTF/nbproject/private/
/OS_Expts/PageReplacement_FIFO/nbproject/private/
/OS_Expts/PageReplacement_LRU/nbproject/private/
/OS_Expts/Test/nbproject/private/