/OS_Expts/MultiThreading/nbproject/private/
/OS_Expts/MultiThreading/build/
/OS_Expts/MultiThreading/dist/
/OS_Expts/ThreadClass/nbproject/private/
/OS_Expts/ThreadClass/dist/
/OS_Expts/ThreadClass/build/